SCADA/flujo_node_red_SELECTOR_ORDENES.json
[
    {
        "id": "e5d4c9b77b18262a",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5f2846ef87e1646",
        "type": "ui_slider",
        "z": "e5d4c9b77b18262a",
        "name": "Ordenes del día",
        "label": "Ordenes Bicicletas Motor Trasero",
        "tooltip": "",
        "group": "003b64132fb77fce",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "25",
        "step": 1,
        "className": "",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "210911c287ac7926",
                "2f274847d6cf33e1"
            ]
        ]
    },
    {
        "id": "210911c287ac7926",
        "type": "debug",
        "z": "e5d4c9b77b18262a",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "559dd3f960d1c30f",
        "type": "ui_slider",
        "z": "e5d4c9b77b18262a",
        "name": "Ordenes del día",
        "label": "Ordenes Bicicletas Motor Central",
        "tooltip": "",
        "group": "003b64132fb77fce",
        "order": 3,
        "width": 7,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "25",
        "step": 1,
        "className": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "927fae756af53fae",
                "5cbb4804aafde742"
            ]
        ]
    },
    {
        "id": "927fae756af53fae",
        "type": "debug",
        "z": "e5d4c9b77b18262a",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "842695e852296482",
        "type": "ui_slider",
        "z": "e5d4c9b77b18262a",
        "name": "Ordenes del día",
        "label": "Ordenes Bicicletas con parrilla",
        "tooltip": "",
        "group": "003b64132fb77fce",
        "order": 5,
        "width": 7,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "25",
        "step": 1,
        "className": "",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "c0629fe90931a822",
                "0517b65641ac6ab4"
            ]
        ]
    },
    {
        "id": "c0629fe90931a822",
        "type": "debug",
        "z": "e5d4c9b77b18262a",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "2f274847d6cf33e1",
        "type": "ui_text",
        "z": "e5d4c9b77b18262a",
        "group": "003b64132fb77fce",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "5cbb4804aafde742",
        "type": "ui_text",
        "z": "e5d4c9b77b18262a",
        "group": "003b64132fb77fce",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "0517b65641ac6ab4",
        "type": "ui_text",
        "z": "e5d4c9b77b18262a",
        "group": "003b64132fb77fce",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "003b64132fb77fce",
        "type": "ui_group",
        "name": "Product indicators",
        "tab": "cabc3ad28eabf51f",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cabc3ad28eabf51f",
        "type": "ui_tab",
        "name": "www.Prueba.cn",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]